@font-face {
  font-family: "Kanit";
  src: url(../fontes/Kanit-Medium.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../imagens/astronauta-de-costas.jpg) right top fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
    
  }

  .caixa {
    background-color: rgba(30, 30, 30, 0.5);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;

  }

  .margem{
    margin-bottom: 15px;
  }

  label {
    font-family: Kanit;
    display: block;
    margin-bottom: 5px;
    color: #ff0000;
  }

  input, textarea {
    width: 90%;
    padding: 8px;
    background-color: rgba(49, 47, 74, 0.105);
    border: 1px solid #f1f7fe;
    border-radius: 3px;
    color: white;
  }



  button {
    background-color: #ff0000;
    color: #f1f7fe;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 150ms ease-in-out;

  }

  button:hover {
    background-color: #460202;
    transform: scale(1.22);
    color: white;
    cursor: pointer;


  }
  #logo{

    height: 60px;
    width: auto;
  }

  h2{

  font-family: Kanit;
  color: aliceblue;

  }
  .navbar-nav li:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease-in-out; 
  }
  .navbar-nav li:not(:hover) {
    transform: scale(1); 
    transition: transform 0.3s ease-in-out; 

  }
  .icone {
    width: 80px; 
    height: auto; 

    transition: transform 0.150s ease-in-out;
}

.icone:hover {
  
    transform: scale(1.2); 
}