body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background:url("../imagens/fundo.png") right top fixed;
    background-color: #36364248;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 200%;
}
.fundo{
    margin-left: 25%;
    margin-right: 25%;
    background-color: #36364289;
}